<div class="top">
    <div class="top-main">
        <div class="top-container">
            <div class="row col-lg-6">
                <div class="form-fream">
                    <div class="form-area">
                        <p class="form-area-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</p>
                        <form action="" accept-charset="UTF-8" method="get">
                            <label for="___">エリア</label>
                            <input type="text" name="area" id="area" value="" class="form-control mb-4" placeholder="東京">
                            <input type="submit" name="commit" value="探す" class="form-control btn-primary mb-4" data-disable-with="探す">
                        </form>                   
                    </div>       
                </div>
            </div>
        </div>
        <div class="container">
            <div class="panel-area m-5">
                <h1 class="section-title">おすすめのエリア</h1>
                <div class="row">
                    <div class="panel-item col-lg-3 col-6">
                        <span>東京</span>
                        <a href=""><img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg"></a>
                        <div class="shadow"></div>
                    </div>
                    <div class="panel-item col-lg-3 col-6">
                        <span>大阪</span>
                        <a href=""><img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg"></a>
                        <div class="shadow"></div>
                    </div>
                    <div class="panel-item col-lg-3 col-6">
                        <span>京都</span>
                        <a href=""><img class="panel-image shadow" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg"></a>
                        <div class="shadow"></div>
                    </div>
                    <div class="panel-item col-lg-3 col-6">
                        <span>札幌</span>
                        <a href=""><img class="panel-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg"></a>
                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>