ul {
    list-style: none;
  }
  .user {
    width: 100%;
}
 .index {
    display: flex
 }
/*以下左側*/
.user-nav {
    padding: 30px 15px;
}

.user-nav li {
    font-size: 18px;
    padding: 10px;
}
/*以下右側*/
h5 {
    font-size: 1.25rem;
}

label {
    width: 150px;
}

.user-view {
    background-color: #F6F8F9;
    border-left: 2px solid #e2e2e2;
}

.update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}

.box {
    background-color: #fff;
    border: 1px solid #eaedef;
    margin: 30px 100px;
    width: 880px;
}

.col-md-3 {
    padding:0 15px
}

.col-md-9 {
    max-width: 75%;
    margin: 0 25px;
}