<div class="user index">
    <div class="user-nav">
        <ul>
            <li class=""><a href="/users/account">アカウント</a></li>
            <li class=""><a href="/users/profile">プロフィール</a></li>
        </ul>
    </div>
    <div class="user-view">
        <div class="box">
            <div class="update-content">
                <div class="index">
                    <h5>アカウント</h5>
                </div>
            </div>      
            <div class="update-content">
                <div class="index">
                    <label class="col-md-3" for="email">メールアドレス</label>
                    <div class="col-md-9"></div>
                </div>
            </div>
            <div class="update-content">
                <div class="index">
                    <label class="col-md-3" for="password">パスワード</label>
                <div class="col-md-9">*********</div>
            </div>
            <div class="update-content">
                <div class="index">
                    <a class="col-md-2 btn btn-primary mx-3" href="/users/edit">編集</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>